* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loading-screen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white; /* Pinkish background */
  align-items:center;
  justify-content: center;
  font-size: 1.5rem;
  color: #5d4294;
  z-index: 1000;
}

.loading-screen img {
  margin-bottom: 20px;
}


.loading-screen.active {
  display: flex;
}

header h1 {
  font-size: 2.5rem;
  color: #5d4294;
}

header {
  background-color: #f7c6d9;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  position: relative;
}
header a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffe6f0;
  color: #333;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.kuromi-image {
  position: absolute;
  top: 0px;
  right: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: url('Backgrounds/Images/kurumi logo.jpg') no-repeat center / cover;   
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

nav a {
  color: #5d4294;
  background-color: #ffbbdd;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 11px;
  font-size: 1.1rem;
  transition: 0.3s;
}

nav a:hover {
  background-color: #ffe6f0;
}

.main-content {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.content,
.sidebar {
  padding: 20px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content {
  flex: 3;
}

.sidebar {
  flex: 1;
}

footer {
  background-color: #f7c6d9;
  color: #fff;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
  border-radius: 15px;
}

footer p {
  font-size: 1rem;
}